/* CSS */
.button_29 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 5vh;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-left: -4vw;
}

.button_29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button_29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button_29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media only screen and (max-width: 768px) {
  .error{
    display: none;
  }
  .error_res{
    margin: 0 5vw;
    margin-top: 20vh;
    font-size: 2rem;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 5px;
  }
  .addpage {
    background-image: url(../top-view-map-blue-background-min.jpg);
    height: 90.2vh;
    background-size: cover;
    overflow: hidden;
  }
  .city{
    width: 50vw;
  }
  .address{
    width: 50vw;
    height: 15vh;
  }
  .content {
    padding-left:5vw;
    margin-left: 30vw;
    margin-top: 10vh;
    width: 60vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .text {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .error{
    background-image: url(../not_login.jpg);
    height: 79vh;
    width: 100vw;
    background-size: cover;
  }
  .error_res{
    display: none;
  }
  .addpage {
    background-image: url(../top-view-map-blue-background-min.jpg);
    height: 90.2vh;
    background-size: cover;
    overflow: hidden;
  }
  .city{
    width: 25vw;
  }
  .address{
    width: 25vw;
    height: 15vh;
  }

  .content {
    margin-left: 60vw;
    margin-top: 20vh;
    width: 30vw;
  }
  .text {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
