.sidebar {
  background-color: rgb(57, 0, 0);
  background-color: linear-gradient(
    to bottom,
    rgba(57, 0, 0, 0.45171572046787467) 0%,
    rgba(22, 0, 0, 0.4321078773306197) 100%
  );
}

.setting {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 10vh;
  background-color: #2e0000;
  padding-top: 2vh;
  border-style: outset;
  border-color: #2e0000;
  border-width: 0;
  margin-bottom: 5vh;
}

.h3 {
  text-align: left;
  padding-left: 2vw;
  margin-bottom: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
  cursor: pointer;
  color: white;
}

.selected {
  color: white;
  text-align: left;
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #9c254d;
  border-radius: 1rem;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 5vh;
}
.button {
  margin-top: 5vh;
  width: 60%;
}

.form {
  background-color: #fbfacd !important;
  color: black !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input {
  margin-bottom: 5vh;
}

@media only screen and (max-width: 768px) {
  .error {
    display: none;
  }
  .error_res {
    margin: 0 5vw;
    margin-top: 20vh;
    font-size: 2rem;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 5px;
  }
  .main {
    display: grid;
    width: 100vw;
    overflow: hidden;
  }
  .card {
    width: 80%;
    background-color: white;
    padding: 2vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .content {
    padding: 0 auto;
    height: 88vh;
    padding-top: 10vh;
    background: #659999; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f4791f,
      #659999
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f4791f,
      #659999
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
@media only screen and (min-width: 768px) {
  .error {
    background-image: url(../not_login.jpg);
    height: 79vh;
    width: 100vw;
    background-size: cover;
  }
  .error_res {
    display: none;
  }
  .main {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 90.2vh;
    overflow: hidden;
  }
  .card {
    width: 40%;
    background-color: white;
    padding: 2vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .content {
    padding: 0 auto;
    padding-top: 10vh;
    background: #659999; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f4791f,
      #659999
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f4791f,
      #659999
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
