.message {
  border: 2px solid white;
  height: 75px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .error{
    display: none;
  }
  .error_res{
    margin: 0 5vw;
    margin-top: 20vh;
    font-size: 2rem;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .error{
    background-image: url(../login.jpg);
    height: 79vh;
    width: 100vw;
    background-size: cover;
  }
  .error_res{
    display: none;
  }
}
